@model WebApplication1.Models.LoginClass
@{
    ViewBag.Title = "Index";
}
<form action="/User/Index" method="POST" style="margin: 50px;">
    <h2>Login For Agent</h2>
    <div class="form-outline mb-6" >
        <label class="form-label">Username</label>
        <input type="text" id="form2Example1" class="form-control" name="Username" required />

    </div>
    <div style="margin-top: 10px;" class="form-outline mb-6">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="password" class="form-control" name="Password" required />

    </div>
    <button type="submit" class="btn btn-primary btn-block" style="width: 10%;margin-top: 20px">Sign in</button>

</form>
